{% extends 'bulletin_board_app/main.html' %}
{% block title %}Документация{% endblock %}

{% block body %}

<p>Пока что краткая документация)</p>
<hr>
<p>Анонимная доска объявлений.</p>
<p>Для создания нового объявления перейдите по на страницу "Разместить объявление" и заполните необходимы поля
(Приложение подскажет какие поля обязательные).
Если Вы не авторизированны -- заполните контакты. Если авторизированны -- контакты будут взяты из Вашего профиля.
Если вы не авторизированны, то Ваши контакты сохраняются в сессии в течении 10 минут.<br>
При создании объявления можно указать его "активность" и дату/время до какого момента оно будет активно. </p>
<p>При создании были использованы:</p>
Python 2.7/Django 1.11<br>
Сelery 4.1.0 с брокером Redis




{% endblock %}