{% extends 'bulletin_board_app/main.html' %}
{% block title %}{{advert.title}}{% endblock %}
{% load i18n admin_urls static admin_modify %}

{%block pre_head%}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% url 'bulletin_board_app:jsi18n' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
{%endblock%}

{% block body %}

<form method="POST" class="post-form form-horizontal" role="form" action="{% url 'bulletin_board_app:edit_my_advert' advert_pk %}">{% csrf_token %}

<p>Введите теги через пробел <input type="text" name="tags" size="50" value="{{tags}}"></p>

{{ form.as_p }}
    <button type="submit" class="save btn btn-default">Сохранить</button>
</form>

{% endblock %}